.demo-card {
  width: 600px;
  margin: 28px;
}

.demo-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

#ABC {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
}